* {
      margin: 0;
      background-color: #cfcfcf;
}

.app {
      width: 20vw;
      position: fixed;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
}

header {
      margin-bottom: 10vh;
      font-size: 20px;
      text-align: center;
}

.calculator {
      display: flex;
      flex-direction: column;
      width: 50vw;
}

.display{
      margin: 1vh 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

}

.config{
      display: flex;
      width: 100%;
      justify-content: space-around;
}

.display input {
      padding: 1vh;
      margin-left: 0.5vw;
      width: 100%;
      text-align: right;
      font-size: 16px; 
}

.display span {
      margin: 0.8vw 0 1vw 0.8vw;
      text-align: center;
}

.buttons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      
}

button.num {
      background-color: rgb(243, 255, 137);
      border-radius: 8%;
      font-size: 18px;
}

button {
      background-color: #9dffaa;
      border-radius: 8%;
      font-size: 18px;
      margin: 0.8vh;
      padding: 1vh;
}

